<?xml version='1.0' encoding='utf-8'?>
<widget id="chat.dinnertable" version="1.0.10" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DinTableChat</name>
    <description>
        A live debate platform
    </description>
    <author email="team@dinnertable.chat" href="http://dinnertable.chat">
        Dinnertable Team
    </author>
    <preference name="cordova.plugins.diagnostic.modules" value="MICROPHONE" />
    <content src="https://dinnertable.chat" />
    <access origin="*" />
    <access origin="https://auth.dinnertable.chat" />
    <access origin="https://*.dinnertable.chat" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <log level="RELEASE" />
    <preference name="OverrideUserAgent" value="Mozilla/5.0 Google PWA" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <framework src="com.android.support:support-v4:+" />
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
        <icon density="mdpi" src="/logos/icons/android-36x36.png" />
        <icon density="ldpi" src="/logos/icons/android-36x36.png" />
        <icon density="hdpi" src="/logos/icons-192.png" />
        <icon density="xhdpi" src="/logos/icons-192.png" />
        <icon density="xxhdpi" src="/logos/icons-192.png" />
        <icon density="xxxhdpi" src="/logos/icons-192.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="72" src="/logos/icons-192.png" width="72" />
        <icon height="144" src="/logos/icons-192.png" width="144" />
        <icon height="144" src="/logos/icons-192.png" width="144" />
        <icon height="72" src="/logos/icons-192.png" width="72" />
    </platform>
    <plugin name="cordova-plugin-hostedwebapp" spec="^0.3.1" />
    <preference name="Fullscreen" value="false" />
    <platform name="windows">
    </platform>
    <platform name="wp8">
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-android-support-gradle-release" spec="^2.0.1">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova.plugins.diagnostic" spec="^4.0.10" />
    <allow-navigation hap-rule="yes" href="https://dinnertable.chat/*" />
    <engine name="android" spec="^7.1.4" />
</widget>
