# See https://help.github.com/ignore-files/ for more about ignoring files.
*.png~
*.jpg~
*.jpeg~

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
public/i18n/
/assets
cert/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# servers
/backend/**/node_modules
/backend/**/build
/backend/**/aws-exports.*
/backend/**/.env.local
/backend/**/.env.development.local
/backend/**/.env.production.local
/backend/**/up.local.json
/backend/**/up.prod.local.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#awsmobilejs
appsync-info.json
aws-info.json
project-info.json
aws-exports.*
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/

#awsamplifyjs
# amplify/\#current-cloud-backend
# project-config.json
amplify/backend/function/*/src/node_modules/
amplify/backend/function/*/dist/

# iOS
DTC/**/platforms/ios/build/
DTC/**/platforms/ios/www/
DTC/**/platforms/ios/cordova/console.log
DTC/**/*.xcuserdatad

# android
DTC/**/platforms/android/assets/www
DTC/**/platforms/android/bin
DTC/**/platforms/android/gen
DTC/**/platforms/android/local.properties
DTC/**/platforms/android/ant-build
DTC/**/platforms/android/ant-gen
DTC/**/platforms/android/CordovaLib/ant-build
DTC/**/platforms/android/CordovaLib/ant-gen
DTC/**/platforms/android/CordovaLib/bin
DTC/**/platforms/android/CordovaLib/gen
DTC/**/platforms/android/CordovaLib/local.properties

# wp8
DTC/**/platforms/wp8/bin
DTC/**/platforms/wp8/obj
DTC/**/platforms/wp8/www
DTC/**/platforms/wp8/.staging
DTC/**/platforms/wp8/*.suo
DTC/**/platforms/wp8/*.csproj.user
DTC/**/build/intermediates
DTC/**/build/generated

# res
DTC/**/resources/signing
.idea
*.apk

DTC/**/.cordova
DTC/**/hooks
DTC/**/merges
DTC/**/platforms
DTC/**/plugins
**/android.keystore