# See https://help.github.com/ignore-files/ for more about ignoring files.
*.png~
*.jpg~
*.jpeg~

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
public/i18n/
/assets
cert/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# servers
/backend/**/node_modules
/backend/**/build
/backend/**/aws-exports.*
/backend/**/.env.local
/backend/**/.env.development.local
/backend/**/.env.production.local
/backend/**/up.local.json
/backend/**/up.prod.local.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#awsmobilejs
appsync-info.json
aws-info.json
project-info.json
aws-exports.*
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/

#awsamplifyjs
# amplify/\#current-cloud-backend
# project-config.json
amplify/backend/function/*/src/node_modules/
amplify/backend/function/*/dist/

# iOS
DinTableChat/**/platforms/ios/build/
DinTableChat/**/platforms/ios/www/
DinTableChat/**/platforms/ios/cordova/console.log
DinTableChat/**/*.xcuserdatad

# android
DinTableChat/**/platforms/android/assets/www
DinTableChat/**/platforms/android/bin
DinTableChat/**/platforms/android/gen
DinTableChat/**/platforms/android/local.properties
DinTableChat/**/platforms/android/ant-build
DinTableChat/**/platforms/android/ant-gen
DinTableChat/**/platforms/android/CordovaLib/ant-build
DinTableChat/**/platforms/android/CordovaLib/ant-gen
DinTableChat/**/platforms/android/CordovaLib/bin
DinTableChat/**/platforms/android/CordovaLib/gen
DinTableChat/**/platforms/android/CordovaLib/local.properties

# wp8
DinTableChat/**/platforms/wp8/bin
DinTableChat/**/platforms/wp8/obj
DinTableChat/**/platforms/wp8/www
DinTableChat/**/platforms/wp8/.staging
DinTableChat/**/platforms/wp8/*.suo
DinTableChat/**/platforms/wp8/*.csproj.user
DinTableChat/**/build/intermediates
DinTableChat/**/build/generated

# res
DTC/**/resources/signing
.idea
*.apk
**/android.keystore
**/_build/outputs/

__DTC/**/.cordova
__DTC/**/hooks
__DTC/**/merges
__DTC/**/platforms
__DTC/**/plugins
